body{
	background: #d2d2c1 url('../images/fundo.png');
	font: 16px Arial, sans-serif, helvetica;
}

#principal {
	width: 900px;
	margin: 0 auto;
}

#menu{
	background: #c5c5b2;
	padding: 18px;
	color: gray;
}

#conteudo{
	background: #e8e8c9;
	padding: 10px;
}

#rodape{
	color: #4b566a;
}

.centralizar {
	text-align: center;
}

.img-campanha{
	border: 10px solid #c3c3ae;
}

a {
	color: #91917c;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

a:hover {
	color: #4b566a;
}


h1{
	font-size: 1.2em;
	color: #828271;
}